body {
  margin: 0;
  padding: 0;
  background-image: url("https://thumbs.gfycat.com/BriefIgnorantBlackbuck-size_restricted.gif");
}

.app {
  text-align: center;
  color: rgb(30, 255, 0);
  font-family: "Bebas Neue", cursive;
  font-weight: bolder;
  font-size: 50px;
}

button {
  border: none;
  color: white;
  font-weight: bold;
  background-color: rgb(30, 255, 0);
  padding: 20px 40px;
  margin: 10px;
  font-size: 25px;
}
